# This is a sample .env file for the application.
# Copy this file to .env and fill in the required values.
# Note: Do not commit your .env file to version control.

# **** LLM (Large Language Model) configuration ****
LLM_PROVIDER=watsonx  # Options: ollama, watsonx, rits, openai
LLM_MODEL=meta-llama/llama-3-3-70b-instruct  # For Ollama, specify the model like: llama3.1:8b

# **** Embeddings model configuration ****
EMBEDDINGS_PROVIDER=ollama  # Options: ollama, watsonx
EMBEDDINGS_MODEL_NAME=mxbai-embed-large  # For Ollama, specify the model like: mxbai-embed-large

# * watsonx.ai configuration if LLM_PROVIDER is set to 'watsonx'
WATSONX_API_ENDPOINT=https://us-south.ml.cloud.ibm.com
WATSONX_PROJECT_ID=
WATSONX_API_KEY=

# * OpenAI configuration if LLM_PROVIDER is set to 'openai'
OPENAI_API_KEY=

# * RITS configuration if LLM_PROVIDER is set to 'rits' (Internal IBM Research service)
RITS_API_KEY=
RITS_API_BASE_URL=https://inference-3scale-apicast-production.apps.rits.fmaas.res.ibm.com

# * Ollama configuration if LLM_PROVIDER is set to 'ollama'
OLLAMA_BASE_URL=  # Base URL for Ollama server, e.g., http://localhost:11434

# **** General Settings ****
SKIP_QNA=false  # Skip Q&A step in the workflow
QNA_BATCH_MODE=false  # Process Q&A in batch mode (if using high-end LLMs, batch mode is recommended)
QNA_RAG_MODE=false  # Use RAG (Retrieval-Augmented Generation) for Q&A context retrieval
ANALYZE_BLOG_IMAGES=false  # Analyze images in blog posts in addition to text (more expensive)

# **** Monitoring and tracing configuration (optional) ****
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# **** VirusTotal configuration for information enrichment (optional) ****
VIRUSTOTAL_API_KEY=

# **** MITRE ATT&CK TTPs detection configuration (optional) ****
HF_TOKEN=  # Hugging Face token for MITRE TTPs classification
DETECT_MITRE_TTPS_MODEL_PATH=  # Path to the Hugging Face model for detecting MITRE TTP (`dvir056/mitre-ttp`)

# **** Headless Browser blog extractor configuration (optional) ****
USE_CRAWL4AI_HEADLESS_BROWSER_HTML_PARSER=false
CRAWL4AI_BASE_URL=http://crawl4ai:11235

# **** RAG Milvus Vector Database configuration ****
RAG_MILVUS_HOST=milvus
RAG_MILVUS_PORT=19530
RAG_MILVUS_USER=
RAG_MILVUS_PASSWORD=
RAG_MILVUS_SECURE=false





